<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/defaultLayout}">
<head>
    <link rel="stylesheet" th:href="@{/css/actionGroup.css}">
    <script th:src="@{/js/jquery/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/actionGroup.js}"></script>
</head>
<body>
    <!-- Header -->
    <header th:fragment="header">
        <div class="header_black"></div>
        <!-- Header Top -->
        <div class="header_top">
            <div class="header_top_inner">
                <h1><a href="index.html" title="메인으로 바로가기"></a></h1>
                <a href="login.html" title="로그인 회원가입 바로가기" class="header_top_pc">로그인/회원가입</a>
                <a href="#" title="메뉴 더보기" class="header_top_mo header_toggle"><img src="../../static/icon/icon_hamburger.svg" alt="메뉴 더보기 아이콘"></a>
                <!--로그인 한 경우-->
                <!--<a th:href="@{/logout}" title="로그아웃 바로가기">로그아웃</a>-->
            </div>
        </div>
        <!-- Header Nav -->
        <nav class="header_nav">
            <div class="toggle_close">
                <a href="#" class="toggle_close" title="토글 닫기"><img src="../../static/icon/icon_x.svg" alt="닫기 아이콘"></a>
            </div>                
            <ul class="gnb">
                <li>
                    <a href="#" title="커뮤니티"><span>커뮤니티</span></a>
                    <ul class="lnb">
                        <li><a href="village.html" title="마을 현황"><span>마을 현황</span></a></li>
                        <li><a href="actionGroupRegistration.html" title="액션그룹"><span>액션그룹</span></a></li>
                        <li><a href="activityNewsRegistration.html" title="활동소식"><span>활동소식</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="공동체 마켓"><span>공동체 마켓</span></a>
                    <ul class="lnb">
                        <li><a href="#" title="판매자 신청"><span>판매자 신청</span></a></li>
                        <li><a href="#" title="마켓"><span>마켓</span></a></li>
                        <li><a href="#" title="도뇽교류"><span>도뇽교류</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="공동체 플랫폼"><span>공동체 플랫폼</span></a>
                    <ul class="lnb">
                        <li><a href="#" title="사회적 경제 공동체"><span>사회적 경제 공동체</span></a></li>
                        <li><a href="#" title="체험마을"><span>공동체 소개</span></a></li>
                        <li><a href="talentActivistRegistration.html" title="재능활동가"><span>재능활동가</span></a></li>
                        <li><a href="#" title="공간예약"><span>공간예약</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="알림마당"><span>알림마당</span></a>
                    <ul class="lnb">
                        <li><a href="noticeRegistration.html" title="공지사항"><span>공지사항</span></a></li>
                        <li><a href="qnaRegistration.html" title="묻고답하기"><span>묻고답하기</span></a></li>
                        <li><a href="#" title="일정관리"><span>일정관리</span></a></li>
                        <li><a href="#" title="설문조사"><span>설문조사</span></a></li>
                        <li><a href="popup.html" title="팝업관리"><span>팝업관리</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" title="사업안내"><span>사업안내</span></a>
                    <ul class="lnb">
                        <li><a href="#" title="신활력플러스사업"><span>신활력플러스사업</span></a></li>
                        <li><a href="#" title="점프업센터"><span>점프업센터</span></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Sub Title -->
        <div class="sub_title_bg">
            <h2>액션그룹 등록</h2>
            <div class="bread_crumbs">
                <div class="inner">
                    <ul>
                        <li>
                            <a href="#">알림마당</a>
                            <div class="crumbs">
                                <ul>
                                    <li><a href="#">커뮤니티</a></li>
                                    <li><a href="#">공동체 마켓</a></li>
                                    <li><a href="#">알림마당</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">공지사항</a>
                            <div class="crumbs">
                                <ul>
                                    <li><a href="#">도농교류</a></li>
                                    <li><a href="#">사회적 경제 공동체</a></li>
                                    <li><a href="#">재능활동가</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section layout:fragment="content">

        <!--분류, 검색-->
        <div class="actionGroup_top">
            <div class="actionGroup_top_class">
                <!--대분류-->
                <div class="actionGroup_top_major">
                    <button class="select_main">전체</button>
                    <ul class="select_sub">
                        <li><button>전체</button></li>
                        <li><button>유형</button></li>
                        <li><button>단계</button></li>
                        <li><button>진행</button></li>
                    </ul>
                </div>

                <!--소분류-->
                <div class="actionGroup_top_minor">
                    <button class="select_main"></button>
                    <ul class="select_sub">
                    </ul>
                </div>

            </div>
            <!--검색-->
            <div class="list_search">
                <input id="searchString" type="search" placeholder="검색어를 입력해주세요.">
                <button onclick="getActionList(0)">검색</button>
            </div>
        </div>

        <!--리스트 4*3 모바일에선 4개만-->
        <div class="actionGroup_mid">
        </div>

        <!--페이지내이션, 추가버튼-->
        <div class="actionGroup_bttm">
            <div class="list_number">
                <button class="prevFirst" onclick="nextPage('first')"></button>
                <button class="prev" onclick="nextPage('prev')"></button>
                <ul id="pageable">
                </ul>
                <button class="next" onclick="nextPage('next')"></button>
                <button class="nextLast" onclick="nextPage('last')"></button>
            </div>

            <!--선택 시 액션그룹 등록 페이지로 이동, 추진단만 확인 가능-->
            <div class="actionGroup_btn_wrap">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/action/registration}" class="actionGroup_btn" title="액션그룹 추가">액션그룹 추가</a>
            </div>
        </div>
    </section>
</body>
</html>