@charset "utf-8";
@import "mixin";

// 개인 회원가입
// 서브 상단 배경
header {
	&>.sub_title_bg {
		&>h2 {
			text-align: center;
			transform: translateY(25px);
		}

		&>.bread_crumbs {
			display: none;
		}

		@include media("mobile") {
			height: 24px;
		}
	}
}

// 회원가입 단계 영역
.join_step {
	margin-top: 60px;

	@include media("mobile") {
		margin-top: 24px;
	}
}

// 메인 섹션 공통 서식
.section_inner1>.content_shadow, .section_inner2>.content_shadow, .section_inner3>.content_shadow {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	// 섹션 내부 좌측 서식
	.joinUser_left {
		width: 30%;
		font-size: $font_24;
		font-weight: bold;
	}

	// 섹션 내부 우측 영역
	.joinUser_right {
		width: 70%;
		max-width: 700px;

		.sub_text {
			margin-bottom: $font_48;
		}
	}

	@include media("mobile") {
		flex-direction: column;

		.joinUser_left {
			width: 100%;
			text-align: center;
			margin-block: $padding_36;
		}

		.joinUser_right {
			width: 100%;

			.sub_text {
				margin-bottom: $font_48;
			}
		}
	}
}

// .section_inner {display: none;}
// 메인 버튼 공통 서식
.section_inner>button {
	@include btn_a($color_main_bl, $color_main_bl, $color_font_wh, $font_24, 300px);
	margin: 0 auto;
	padding-block: $font_20;
	border-radius: $font_48;
	margin-top: 60px;
	font-size: $font_24;

	@include media("mobile") {
		width: calc(100% - 2rem);
	}
}

.joinUser_main {
	padding-bottom: $font_48;
}

// 1단계 - 약관 동의
.section_inner1 {
	.agree_box {
		margin-top: 1.5rem;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid $color_sub_g2;
	}

	.terms_agree_box, .personal_agree_box {
		display: flex;
		align-items: center;

		a {
			display: inline-block;
			flex: 1;

			&.terms_act>img {
				transform: rotate(-180deg);
				transition: 0.3s;
			}
		}

		a>img {
			width: $font_20;
			float: right;
			transition: 0.3s;
		}
	}

	p label:last-child, p a:last-child {
		font-size: $font_20;
		margin-left: 1rem;
	}

	p label:last-child {
		font-size: $font_24;
		font-weight: bold;
	}

	.agree_sub_text {
		display: none;
		background: $color_sub_g4;
		border-bottom: 1px solid $color_sub_g2;
		padding: 1rem;
		height: 200px;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 16px;
		}

		&::-webkit-scrollbar-thumb {
			background: $color_sub_g2;
			border-right: 8px solid $color_sub_g4;
		}
	}
}

// 2단계 - 본인 인증
.section_inner2 {
	.joinUser_right {
		.sub_text {
			font-size: $font_24;

			span {
				color: $color_main_bl;
				font-weight: bold;
			}

			@include media("mobile") {
				text-align: center;
			}
		}

		.secon_text {
			font-size: $font_20;
			margin-bottom: $font_24;
		}

		ul {
			margin-left: 1rem;

			&>li {
				list-style: disc;
			}
		}
	}
}

// 3단계 - 회원 정보 입력
.section_inner3 {
	.joinUser_right {
		.input_fields {
			position: relative;

			&>.form_check_box {
				position: absolute;
				top: 0rem;
				right: 0;
				width: max-content;
				height: 50px;
				display: inline-flex;
				gap: 1rem;
				align-items: center;

				@include media("mobile") {
					flex-direction: column;
					gap: 0.5rem;
					align-items: flex-end;
				}

				// 아이디 체크
				&>.id_check {
					@include btn_a($color_font_bk, $color_font_bk, $color_font_wh);
				}

				// 주소 검색
				&>.address_search {
					@include btn_a($color_font_bk, $color_font_bk, $color_font_wh);
					cursor: pointer;
				}

				// 체크 사용가능시
				&>.id_check_result {
					position: relative;

					&::before {
						content: "";
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						height: 50%;
						background: $color_main_yg;
						z-index: -1;
					}
				}

				// 체크 에러시
				&>.check_error {
					display: none;
					color: $color_main_rd;
				}
			}

			// 참고 메세지
			&:has(.reference) input {
				margin-bottom: 0;
				@include media("mobile") {
					padding-block: 1.5rem;
				}
			}

			&>.reference {
				font-size: $font_14;
				margin-bottom: 1.5rem;
				color: $color_sub_g1;
			}

			// 주소
			&.address_input_box {
				.last_address {
					display: flex;
					gap: 1rem;

					.detailAddress, .extraAddress {
						width: calc(100%);
					}
				}
			}
		}
	}

	#postcode, #address, #extraAddress {
		background: none;
	}
}

// 4단계 - 가입 완료
.section_inner4 {
	text-align: center;

	.join_compl {
		&>.compl_icon {
			width: 100px;
			height: 100px;
			background: $color_sub_g3;
			border-radius: 50%;
			margin: 0 auto;
			align-content: center;

			&>img {
				width: $font_48;
			}
		}

		&>.line1, &>.line2 {
			font-size: $font_20;
		}

		&>.line1 {
			margin-top: 2rem;

			&>span {
				color: $color_main_bl;
				font-weight: bold;
			}
		}

		&>.line3 {
			margin-top: 2rem;
		}
	}

	button {
		display: inline-block;
		margin-inline: 0.5rem;

		&:first-of-type {
			background: $color_font_wh;
			border: 2px solid $color_main_bl;
			color: $color_main_bl
		}

		@include media("mobile") {
			margin-top: 24px;
		}
	}
}