@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("../fonts/Pretendard-Light.woff") format("woff");
}
/* 카드이미지 호버용 */
/* 프리텐다드 다운로드 후 이름 정의 */
/* 로그인, 회원가입 카테고리 */
/* 카드, 이미지 */
/* 섹션 박스, 작은 서브 메인 배경 */
/* 큰 서브 메인 배경 */
/* CSS 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, label, img, input, select, textarea, button, a {
  font-family: "Pretendard", "맑은고딕", arial;
  vertical-align: middle;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  outline: 0;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

body {
  overflow-x: hidden;
  font-size: 1rem;
  line-height: 160%;
  font-family: "Pretendard", "맑은고딕", arial;
  color: #333;
  background: #fff;
  scroll-behavior: smooth;
}

body.toggle_fixed {
  position: fixed;
  overflow-y: hidden;
  touch-action: none;
}

a, button {
  color: inherit;
}

table > caption, legend, .txt_hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.clear {
  clear: both;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 3rem;
  line-height: 160%;
}

h3 {
  font-size: 1.5rem;
  line-height: 160%;
}

header .sub_title_bg {
  display: none;
}

.main {
  margin-top: 141px;
}
@media screen and (max-width: 767px) {
  .main {
    margin-top: 60px;
  }
}
.main .visual {
  width: calc(100% - 10vw);
  box-sizing: border-box;
  height: 500px;
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  border-radius: 0 0 120px 0;
}
@media screen and (max-width: 1920px) {
  .main .visual {
    width: calc(100% - 5vw);
  }
}
@media screen and (max-width: 1200px) {
  .main .visual {
    width: 100%;
    border-radius: 0 0 60px 0;
  }
}
@media screen and (max-width: 767px) {
  .main .visual {
    flex-direction: column;
    height: 100vh;
    padding-bottom: 6rem;
    box-sizing: border-box;
    border-radius: 0;
  }
}
.main .visual .visual_swiper {
  width: 100%;
  height: 100%;
  flex: 1;
}
.main .visual .visual_swiper .swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .visual .visual_swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .visual .visual_swiper .swiper-slide .slide_txt {
  position: absolute;
  top: 50%;
  left: 26%;
  transform: translateY(-50%);
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  line-height: 120%;
  text-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
}
.main .visual .visual_swiper .swiper-slide .slide_txt span {
  font-size: 1rem;
  font-weight: normal;
}
@media screen and (max-width: 1200px) {
  .main .visual .visual_swiper .swiper-slide .slide_txt {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 767px) {
  .main .visual .visual_swiper .swiper-slide .slide_txt {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main .visual .visual_swiper .swiper-slide .slide_txt span {
    line-height: 200%;
  }
}
.main .visual .visual_swiper .swiper-pagination {
  margin-bottom: 2rem;
}
.main .visual .visual_swiper .swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: #fff;
  opacity: 1;
  transition: 0.3s;
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
}
.main .visual .visual_swiper .swiper-pagination-bullet-active {
  width: 2.25rem;
}
.main .visual .quick_menu {
  width: 40%;
  padding: 2rem 4rem;
  box-sizing: border-box;
  align-self: center;
  z-index: 0;
}
@media screen and (max-width: 1200px) {
  .main .visual .quick_menu {
    width: 48%;
    padding: 1rem 2rem;
  }
}
.main .visual .quick_menu .quick_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  text-align: center;
  margin-top: 1rem;
}
.main .visual .quick_menu .quick_list li {
  width: calc(30% - 1.5rem);
  margin-top: 1.5rem;
  text-align: -webkit-center;
}
.main .visual .quick_menu .quick_list a {
  display: block;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .visual .quick_menu .quick_list img {
  position: relative;
  display: block;
  width: 3rem;
  margin: 0 auto;
}
.main .visual .quick_menu .quick_list .icon_img {
  position: relative;
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
}
.main .visual .quick_menu .quick_list .icon_txt {
  position: relative;
  display: inline-block;
  padding-top: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  text-wrap-mode: nowrap;
  width: -moz-max-content;
  width: max-content;
}
.main .visual .quick_menu .quick_list .icon_txt::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  display: block;
  width: 0%;
  height: 30%;
  background: rgba(1, 146, 183, 0.4);
  transition: 0.3s;
}
.main .visual .quick_menu .quick_list .icon_img::before {
  content: "";
  position: absolute;
  top: -15%;
  left: -30%;
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  background: #0191B6;
  border-radius: 50%;
  scale: 0;
  transition: 0.3s;
}
.main .visual .quick_menu .quick_list a:hover .icon_img::before {
  scale: 1;
}
.main .visual .quick_menu .quick_list a:hover .icon_txt::before {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .main .visual .quick_menu {
    width: 100%;
    padding: 1rem;
    padding-top: 1.25rem;
  }
  .main .visual .quick_menu a {
    background: #fff;
    padding: 1rem;
    border-radius: 0 2.25rem 0 2.25rem;
    box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
    aspect-ratio: 1;
    align-content: center;
    box-sizing: border-box;
  }
  .main .visual .quick_menu .quick_list {
    margin-top: 1.25rem;
    gap: 1.5rem;
  }
  .main .visual .quick_menu .quick_list li {
    margin-top: 0;
    flex: 1 1 calc(30% - 1.5rem);
  }
}
.main .business {
  width: min(100vw - (100vw - 100%) - 2rem, 1400px);
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  gap: 3rem;
  margin-block: 6rem;
  align-items: center;
}
.main .business .busi_text_box {
  width: calc(60% - 1.5rem);
}
.main .business .busi_text_box .busi_detail {
  margin-block: 3rem;
}
.main .business .busi_img_box {
  width: calc(40% - 1.5rem);
  height: 500px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 70% 30%);
  grid-template-areas: "img1 img2" "img1 img3";
}
.main .business .busi_img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .business .busi_img_box img:first-child {
  grid-area: img1;
  height: 60%;
  margin-top: 50%;
}
.main .business .busi_img_box img:nth-child(2) {
  grid-area: img2;
}
.main .business .busi_img_box img:nth-child(3) {
  grid-area: img3;
}
.main .business button {
  display: block;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #0191B6;
  border: 1px solid #0191B6;
  color: #fff;
  font-weight: bold;
  border-radius: 24px;
  box-sizing: border-box;
  transition: 0.3s;
}
.main .business button:hover {
  opacity: 0.8;
}
.main .business button.btn_off {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.25);
  color: #333;
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
}
.main .business button.mobile_btn {
  display: none;
}
@media screen and (max-width: 767px) {
  .main .business {
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px -6px 16px -6px rgba(51, 51, 51, 0.25);
    margin-block: 6rem;
    align-items: center;
    width: 100%;
    padding-inline: 1rem;
    margin-top: -4rem;
    border-radius: 0 5rem 0 0;
    background: #fff;
    padding-top: 3rem;
  }
  .main .business .busi_text_box {
    width: 100%;
  }
  .main .business .busi_text_box .busi_detail {
    margin-block: 1rem;
  }
  .main .business .busi_img_box {
    display: block;
    width: 100%;
    height: 200px;
  }
  .main .business .busi_img_box img:first-child {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  .main .business .busi_img_box img:nth-child(2), .main .business .busi_img_box img:nth-child(3) {
    display: none;
  }
  .main .business button.mobile_btn {
    display: block;
    align-self: flex-start;
    margin-top: 1rem;
  }
  .main .business button.pc_btn {
    display: none;
  }
}
.main .village {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background: #f5f5f5;
  padding-block: 3rem;
}
.main .village_wrap {
  width: min(100vw - (100vw - 100%) - 2rem, 1400px);
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .main .village_wrap {
    width: 100%;
  }
}
.main .village_wrap .main_title {
  margin-bottom: 1.5rem;
}
.main .village_wrap .main_title button {
  display: block;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #0191B6;
  border: 1px solid #0191B6;
  color: #fff;
  font-weight: bold;
  border-radius: 24px;
  box-sizing: border-box;
  transition: 0.3s;
  float: right;
  transform: translateY(-4rem);
}
.main .village_wrap .main_title button:hover {
  opacity: 0.8;
}
.main .village_wrap .main_title button.btn_off {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.25);
  color: #333;
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
}
@media screen and (max-width: 767px) {
  .main .village_wrap .main_title {
    padding-inline: 1rem;
    position: relative;
  }
  .main .village_wrap .main_title::before, .main .village_wrap .main_title::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: calc(100% + 4.5rem);
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #fff;
    padding: 0.5rem;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
    opacity: 0.8;
  }
  .main .village_wrap .main_title::before {
    left: 1rem;
    background-image: url("../icon/icon_arrowleft.svg");
  }
  .main .village_wrap .main_title::after {
    right: 1rem;
    background-image: url("../icon/icon_arrowright.svg");
  }
}
.main .village_wrap .village_tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}
.main .village_wrap .village_tab li > a {
  display: block;
  width: 100%;
  display: block;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid transparent;
  color: #333;
  font-weight: bold;
  border-radius: 24px;
  box-sizing: border-box;
  transition: 0.3s;
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
  text-wrap-mode: nowrap;
}
.main .village_wrap .village_tab li > a:hover {
  opacity: 0.8;
}
.main .village_wrap .village_tab li > a.btn_off {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.25);
  color: #333;
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
}
.main .village_wrap .village_tab .village_act {
  background: #0191B6;
  box-shadow: none;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .main .village_wrap .village_tab {
    width: 100%;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-block: 1rem;
    justify-content: flex-start;
  }
  .main .village_wrap .village_tab::-webkit-scrollbar {
    height: 12px;
  }
  .main .village_wrap .village_tab::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-right: 6px solid transparent;
  }
  .main .village_wrap .village_tab::-webkit-scrollbar-track {
    background: #EEE;
  }
}
@media screen and (max-width: 767px) {
  .main .village_wrap .village_tab {
    width: calc(100% - 4rem);
    margin: 0 auto;
  }
}
.main .village_wrap .village_detail {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .main .village_wrap .village_detail {
    padding-inline: 1rem;
  }
}
.main .village_wrap .village_detail .village_map {
  width: 400px;
  height: 500px;
  background-image: url("../images/main_map_all.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .main .village_wrap .village_detail .village_map {
    display: none;
  }
}
.main .village_wrap .village_detail .village_txt {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main .village_wrap .village_detail .village_txt img {
  width: 1.5rem;
}
.main .village_wrap .village_detail .village_txt p {
  display: inline-block;
}
.main .village_wrap .village_detail .village_txt p span {
  font-weight: bold;
}
.main .village_wrap .village_detail .village_title {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  margin-top: 2rem;
}
.main .village_wrap .village_detail .village_title h2 {
  position: relative;
  z-index: 0;
  margin-right: 1rem;
  line-height: 100%;
  text-wrap-mode: nowrap;
}
.main .village_wrap .village_detail .village_title h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: #D5DE33;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .main .village_wrap .village_detail .village_title {
    flex-wrap: wrap;
  }
  .main .village_wrap .village_detail .village_title .village_address {
    width: 100%;
    margin-top: 1.5rem;
  }
}
.main .village_wrap .village_detail dl {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.main .village_wrap .village_detail dl dt {
  width: 7.5rem;
  font-weight: bold;
}
.main .village_wrap .village_detail dl dd {
  width: calc(100% - 0.5rem - 8rem);
}
.main .section_tab {
  position: relative;
  padding-block: 6rem 3rem;
  margin-bottom: 3rem;
}
.main .section_tab::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 50%;
  background: rgba(213, 222, 51, 0.4);
  border-radius: 240px 0 0 0;
}
.main .section_tab * {
  box-sizing: border-box;
}
.main .section_tab .sec_tab_inner {
  width: min(100vw - (100vw - 100%) - 2rem, 1400px);
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .main .section_tab .sec_tab_inner {
    width: 100%;
  }
}
.main .section_tab .main_title .sec_tab_list {
  display: flex;
  gap: 1.5rem;
}
.main .section_tab .main_title .sec_tab_list li {
  position: relative;
}
.main .section_tab .main_title .sec_tab_list a {
  position: relative;
  font-size: 3rem;
  line-height: 140%;
  font-weight: bold;
  color: #D9D9D9;
  display: block;
}
.main .section_tab .main_title .sec_tab_list a.tab_list_act {
  color: #333;
}
.main .section_tab .main_title .sec_tab_list a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 40%;
  background: #D5DE33;
  z-index: -1;
  transition: 0.3s;
}
.main .section_tab .main_title .sec_tab_list a.tab_list_act::after {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .main .section_tab .main_title .sec_tab_list {
    width: 100%;
  }
  .main .section_tab .main_title .sec_tab_list li {
    font-size: 2rem;
    text-wrap-mode: nowrap;
    margin-block: 0.5rem;
  }
  .main .section_tab .main_title .sec_tab_list a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .main .section_tab .main_title {
    padding-left: 1rem;
    gap: 1rem;
  }
}
.main .section_tab .tab_swiper {
  margin-top: 3rem;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.main .section_tab .tab_swiper .swiper-slide {
  width: 100%;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .section_tab .tab_swiper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .main .section_tab .tab_swiper {
    margin-top: 1.5rem;
  }
}
.main .section_tab .swiper-slide {
  width: 100%;
  border-radius: 0 60px 0 60px;
  overflow: hidden;
  position: relative;
}
.main .section_tab .swiper-slide a {
  width: 100%;
}
.main .section_tab .swiper-slide button {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #fff;
  color: #333;
  font-weight: bold;
  border-radius: 24px;
  box-sizing: border-box;
  transition: 0.3s;
  opacity: 0;
  transition: 0.3s;
}
.main .section_tab .swiper-slide button:hover {
  opacity: 0.8;
}
.main .section_tab .swiper-slide button.btn_off {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.25);
  color: #333;
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
}
.main .section_tab .swiper-slide a:hover::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  background: rgba(51, 51, 51, 0.4);
  z-index: 1;
}
.main .section_tab .swiper-slide a:hover button {
  opacity: 1;
}
.main .section_tab .list_photo {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}
.main .section_tab .list_photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .section_tab .item_imgtag {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.main .section_tab .item_imgtag span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
  padding: 6px 12px;
  border-radius: 0 0 1rem 0;
  font-size: 0.88rem;
  font-weight: bold;
  background: #333;
  color: #fff;
}
.main .section_tab .item_text {
  padding: 1rem;
}
.main .section_tab .item_text ul {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.main .section_tab .item_text ul .item_hash.hash_yg {
  background: #D5DE33;
}
.main .section_tab .item_text ul .item_hash.hash_black {
  background: #333;
  color: #fff;
}
.main .section_tab .item_text ul .item_hash.hash_white {
  background: #fff;
  border: 1px solid #333;
}
.main .section_tab .item_text .list_title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 200%;
}
.main .section_tab .item_text .list_detail {
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1rem;
}
.main .section_tab .item_text .list_date {
  text-align: right;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.main .section_tab .tab_list_btn {
  display: block;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  font-weight: bold;
  border-radius: 24px;
  box-sizing: border-box;
  transition: 0.3s;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.main .section_tab .tab_list_btn:hover {
  background: #000;
}
.main .section_tab .tab_list_btn.btn_off {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.25);
  color: #333;
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
}
.main .service {
  width: min(100vw - (100vw - 100%) - 2rem, 1400px);
  margin: 0 auto;
  box-sizing: border-box;
  margin-block: 6rem;
}
.main .service .service_inner {
  display: flex;
  gap: 1.5rem;
  margin-top: 3rem;
}
@media screen and (max-width: 767px) {
  .main .service .service_inner {
    flex-direction: column;
    gap: 3rem;
  }
}
.main .service .service_inner .sub_title > p {
  font-size: 1.5rem;
}
.main .service .service_inner .sub_title.title_under::after {
  background-color: #333;
}
.main .service .service_inner > div {
  flex: 1;
}
.main .service .service_inner > div button {
  display: block;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #0191B6;
  border: 1px solid #0191B6;
  color: #fff;
  font-weight: bold;
  border-radius: 24px;
  box-sizing: border-box;
  transition: 0.3s;
  float: right;
  transform: translateY(-1rem);
}
.main .service .service_inner > div button:hover {
  opacity: 0.8;
}
.main .service .service_inner > div button.btn_off {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.25);
  color: #333;
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
}
.main .service .service_inner > div li {
  margin-block: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #EEE;
}
.main .service .service_inner > div a {
  display: block;
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  line-height: 200%;
}
.main .service .service_inner > div .notice_title, .main .service .service_inner > div .qna_title {
  flex: 1;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.25rem;
}
.main .service .service_inner > div .notice_date, .main .service .service_inner > div .qna_date {
  width: -moz-max-content;
  width: max-content;
  text-align: right;
  color: #999;
}
.main .schedule {
  width: min(100vw - (100vw - 100%) - 2rem, 1400px);
  margin: 0 auto;
  box-sizing: border-box;
}
.main .schedule .main_title {
  margin-bottom: 1.5rem;
}
.main .schedule .main_title button {
  display: block;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #0191B6;
  border: 1px solid #0191B6;
  color: #fff;
  font-weight: bold;
  border-radius: 24px;
  box-sizing: border-box;
  transition: 0.3s;
  float: right;
  transform: translateY(-4rem);
}
.main .schedule .main_title button:hover {
  opacity: 0.8;
}
.main .schedule .main_title button.btn_off {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.25);
  color: #333;
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
}
.main .schedule .schedule_inner {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}
@media screen and (max-width: 1200px) {
  .main .schedule .schedule_inner {
    flex-direction: column;
  }
}
.main .schedule .schedule_left, .main .schedule .schedule_right {
  flex: 1;
  box-shadow: 0px 0px 16px rgba(51, 51, 51, 0.25);
  border-radius: 0 60px 0 60px;
  padding: 2rem;
}
@media screen and (max-width: 1200px) {
  .main .schedule .schedule_left, .main .schedule .schedule_right {
    padding: 2rem 1rem;
  }
}
.main .schedule .schedule_right .schedule_title {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .schedule .schedule_right .schedule_title .day_add_btn {
  display: block;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  font-weight: bold;
  border-radius: 24px;
  box-sizing: border-box;
  transition: 0.3s;
  float: right;
}
.main .schedule .schedule_right .schedule_title .day_add_btn:hover {
  background: #000;
}
.main .schedule .schedule_right .schedule_title .day_add_btn.btn_off {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.25);
  color: #333;
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
}
.main .schedule .schedule_list_wrap {
  margin-top: 2rem;
  max-height: 24rem;
  overflow-y: auto;
}
@media screen and (max-width: 1200px) {
  .main .schedule .schedule_list_wrap {
    max-height: 20rem;
  }
}
.main .schedule .schedule_list_wrap > .schedule_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main .schedule .schedule_list_wrap .schedule_list {
  border-left: 4px solid #0191B6;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1200px) {
  .main .schedule .schedule_list_wrap .schedule_list {
    padding: 0.5rem 1rem;
  }
}
.main .schedule .schedule_list_wrap .schedule_list img {
  width: 1.25rem;
  padding-right: 0.5rem;
}
.main .schedule .schedule_list_wrap .schedule_name {
  font-weight: bold;
}
.main .schedule .schedule_list_wrap .schedule_date, .main .schedule .schedule_list_wrap .schedule_time {
  font-size: 0.88rem;
  margin-top: 0.5rem;
}
.main .schedule .schedule_list_wrap .none_date {
  display: block;
  width: 100%;
  height: 60%;
  text-align: center;
  align-content: center;
}
@media screen and (max-width: 1200px) {
  .main .schedule .schedule_list_wrap .none_date {
    margin-bottom: 2rem;
  }
}
.main .schedule_modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(51, 51, 51, 0.4);
}
.main .schedule_modal .schedule_modal_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(100vw - (100vw - 100%) - 2rem, 800px);
  margin: 0 auto;
  box-sizing: border-box;
  background: #fff;
  border-radius: 60px;
  padding: 4rem 2rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 16px rgba(51, 51, 51, 0.25);
}
.main .schedule_modal .schedule_modal_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .schedule_modal .schedule_modal_title {
  font-size: 1.5rem;
  font-weight: bold;
}
.main .schedule_modal .schedule_add_close {
  background: #333;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  transition: 0.5s;
  padding: 0.5rem;
}
.main .schedule_modal .schedule_add_close img {
  width: 100%;
}
.main .schedule_modal .schedule_add_close:hover {
  transform: rotate(180deg);
}
.main .schedule_modal .schedule_input {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .schedule_modal .input_date, .main .schedule_modal .input_time {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.main .schedule_modal .input_date > div, .main .schedule_modal .input_time > div {
  flex: 1;
}
.main .schedule_modal .schedule_checkbox {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.main .schedule_modal .schedule_checkbox > div {
  flex: 1;
}
.main .schedule_modal .schedule_checkbox .checkbox_inner label:last-of-type {
  padding-left: 0.5rem;
  vertical-align: text-top;
}
.main .schedule_modal .caution {
  color: #E45B5E;
  margin-bottom: 2rem;
}
.main .schedule_modal .form_check_box {
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
  width: calc(100% - 1.5rem);
  height: calc(100% - 0.88rem);
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.main .schedule_modal .form_check_box .check_error {
  position: relative;
  z-index: 0;
  color: #E45B5E;
  flex: 1;
}
.main .schedule_modal .schedule_submit {
  width: 100%;
  text-align: -webkit-center;
}
.main .schedule_modal .schedule_submit .schedule_submit_btn {
  display: block;
  display: block;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #0191B6;
  border: 1px solid #0191B6;
  color: #fff;
  font-weight: bold;
  border-radius: 24px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 1.25rem;
}
.main .schedule_modal .schedule_submit .schedule_submit_btn:hover {
  opacity: 0.8;
}
.main .schedule_modal .schedule_submit .schedule_submit_btn.btn_off {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.25);
  color: #333;
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
}
.main .cal_navi {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.main .cal_navi button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #333;
}
.main .cal_navi button img {
  width: 100%;
}
.main .cal_navi .cal_month {
  font-size: 1.5rem;
  font-weight: bold;
}
.main #calendar {
  width: 100%;
  text-align: center;
}
.main #calendar table {
  width: 100%;
  table-layout: fixed;
  word-break: break-all;
  border-collapse: collapse;
  border: none;
  margin-top: 1rem;
}
.main #calendar th, .main #calendar td {
  flex: 1;
  min-height: -moz-max-content;
  min-height: max-content;
  overflow: hidden;
  border: none;
}
.main #calendar th {
  font-size: 1.25rem;
  min-height: -moz-max-content;
  min-height: max-content;
  padding-block: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #333;
}
.main #calendar td {
  width: 100%;
  aspect-ratio: 1;
  text-align: center;
  align-content: center;
  font-size: 1.1rem;
  cursor: pointer;
}
.main #calendar tr {
  width: 100%;
  height: 100%;
  display: flex;
}
.main #calendar .event_day {
  display: flex;
  height: 0.5rem;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
}
.main #calendar .circle {
  display: none;
}
.main #calendar .circle:nth-of-type(-n+3) {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #0191B6;
  margin: 0.1rem;
}
.main #calendar .today, .main #calendar .day_act {
  border-radius: 50%;
  font-weight: bold;
}
.main #calendar .today {
  background: #EEE;
}
.main #calendar .day_act {
  background: #333;
  color: #fff;
}
.main .cal_desc {
  display: flex;
  justify-content: end;
  align-content: center;
  margin-top: 1rem;
}
.main .cal_desc li {
  position: relative;
}
.main .cal_desc li {
  line-height: 1.2rem;
  margin-left: 4rem;
}
.main .cal_desc li::before {
  position: absolute;
  top: 50%;
  left: -1.5rem;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  border-radius: 50%;
}
.main .cal_desc li:nth-child(1)::before {
  width: 0.5rem;
  height: 0.5rem;
  left: -1rem;
  background: #0191B6;
}
.main .cal_desc li:nth-child(2)::before {
  width: 1.2rem;
  height: 1.2rem;
  background: #EEE;
}
.main .cal_desc li:nth-child(3)::before {
  width: 1.2rem;
  height: 1.2rem;
  background: #333;
}
@media screen and (max-width: 1200px) {
  .main .cal_desc {
    padding-right: 1rem;
  }
}/*# sourceMappingURL=main2.css.map */