@import "mixin";
:root {
    --fc-button-bg-color: #0191B6;
    --fc-button-hover-bg-color: #0191B6;
    --fc-button-border-color: #0191B6;
    --fc-button-active-bg-color: #0191B6;
    --fc-button-active-border-color: #0191B6;
    --fc-event-border-color: #0191B6;
    --fc-button-hover-border-color: #0191B6;
}
#calendar {
    max-width: 1100px;
    margin: 0 auto;
}
// 토, 일요일 컬러
.fc-day-sun .fc-daygrid-day-number, .fc-day-sat .fc-daygrid-day-number {
    color: $color_main_rd;
}
// 테이블 컬러 투명
.fc td, .fc th, .fc .fc-scrollgrid {
    border: transparent;
}
// 티헤드 아래 보더
.fc thead th {
    border-bottom: 1px solid $color_font_bk;
    padding-block: 1rem;
    font-size: $font_20;
}
// 오늘 날짜 배경색
.fc .fc-daygrid-day.fc-day-today {
    background: $color_tran_yg;
    border-radius: 0 $font_20 0 $font_20;
}
.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    font-weight: bold;
}
// 다중 이벤트 컬러
.fc-h-event {
    background: $color_sub_g4;
    border: none;
    border: 1px solid $color_font_bk;
}
.fc-h-event .fc-event-main {
    color: $color_font_bk;
}
// 날짜 가운데 정렬
.fc .fc-daygrid-day-top {
    justify-content: center;
}
// 단일 이벤트
.fc-daygrid-day-events {
    background: $color_sub_g4;
}
.fc-daygrid-dot-event .fc-event-title {
    font-weight: normal;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
    border: 1px solid $color_font_bk;
}
// 좌우 화살표
.fc .fc-button-group {
    gap: 1rem;
}
.fc-direction-ltr .fc-button-group > .fc-button {
    border-radius: 0 $font_14 0 $font_14;
}
.fc-direction-ltr .fc-button-group > .fc-prev-button:first-child,
.fc-direction-ltr .fc-button-group > .fc-next-button:last-child {
    width: 2.8rem; height: 2.8rem;
    border-radius: 50%;
    background: transparent;
    border: 1px solid $color_sub_g1;
    color: $color_font_bk;
}
// 이벤트 앞에 동그라미
.fc-h-event .fc-event-title {
    &::before {
        content: "";
        display: inline-block;
        border: calc(var(--fc-daygrid-event-dot-width) / 2) solid var(--fc-event-border-color);
        border-radius: calc(var(--fc-daygrid-event-dot-width) / 2);
        box-sizing: content-box;
        height: 0px;
        margin: 0px 4px;
        width: 0px;    
    }
}
// 포커스 효과
.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus, .fc .fc-button-primary:focus {
    box-shadow: none;
    background: $color_font_bk;
    border-color: $color_font_bk;
    color: $color_font_wh;
}
.fc .fc-button:disabled {opacity: 1;}