@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("../fonts/Pretendard-Light.woff") format("woff");
}
/* 카드이미지 호버용 */
/* 프리텐다드 다운로드 후 이름 정의 */
/* 로그인, 회원가입 카테고리 */
/* 카드, 이미지 */
/* 섹션 박스, 작은 서브 메인 배경 */
/* 큰 서브 메인 배경 */
/* CSS 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, label, img, input, select, textarea, button, a {
  font-family: "Pretendard", "맑은고딕", arial;
  vertical-align: middle;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  outline: 0;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

body {
  overflow-x: hidden;
  font-size: 1rem;
  line-height: 160%;
  font-family: "Pretendard", "맑은고딕", arial;
  color: #333;
  background: #fff;
  scroll-behavior: smooth;
}

body.toggle_fixed {
  position: fixed;
  overflow-y: hidden;
  touch-action: none;
}

a, button {
  color: inherit;
}

table > caption, legend, .txt_hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.clear {
  clear: both;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 3rem;
  line-height: 160%;
}

h3 {
  font-size: 1.5rem;
  line-height: 160%;
}

input[type=time] {
  position: relative;
  background: url("../icon/icon_time.svg") no-repeat right 4px center/1.25rem auto;
}
input[type=time]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
input[type=time]::before {
  content: attr(placeholder);
  width: 100%;
  height: 100%;
}
input[type=time]:valid::before {
  display: none;
}

.village_wrap {
  width: min(100vw - (100vw - 100%) - 2rem, 1400px);
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 120px;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .village_wrap {
    width: 100%;
    flex-direction: column;
    row-gap: 60px;
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .village_wrap {
    flex-direction: column;
    row-gap: 3rem;
  }
}

.swiper {
  width: 500px;
  height: 500px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .swiper {
    width: 100vw;
    height: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .swiper {
    margin: 0 auto;
  }
}

.swiper-pagination {
  line-height: 3rem;
  color: #333;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .swiper-pagination {
    line-height: 2rem;
  }
}
.swiper-pagination .swiper-pagination-current {
  font-weight: bold;
  position: relative;
}
.swiper-pagination .swiper-pagination-current::before {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 3rem;
  line-height: 3rem;
  background: #fff;
  border-radius: 500px;
  top: -16px;
  left: -22px;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .swiper-pagination .swiper-pagination-current::before {
    width: 74px;
    top: -14px;
    left: -22px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .swiper-pagination .swiper-pagination-current::before {
    width: 74px;
    height: 2rem;
    line-height: 2rem;
    top: -8px;
    left: -22px;
  }
}

.village_slide_wrap .village_slide_items {
  border-radius: 0 60px 0 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .village_slide_wrap .village_slide_items {
    border-radius: 0 24px 0 24px;
  }
}
.village_slide_wrap .village_slide_items img {
  -o-object-fit: cover;
     object-fit: cover;
     width: 100%;
     height: 100%;
}

.village_cont {
  width: calc(100% - 620px);
}
@media screen and (max-width: 767px) {
  .village_cont {
    width: min(100vw - (100vw - 100%) - 2rem, 1400px);
    margin: 0 auto;
    box-sizing: border-box;
    row-gap: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .village_cont {
    width: min(100vw - (100vw - 100%) - 2rem, 1400px);
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.village_cont, .village_cont_txt {
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
}

.village_cont_title span {
  color: #0191B6;
  font-size: 0.88rem;
}

.village_txt_top th {
  text-align: left;
  width: 100px;
  padding-bottom: 12px;
}
.village_txt_top td {
  text-align: left;
  padding-left: 2.25rem;
  padding-bottom: 12px;
}

.village_txt_mid_cont .item_hash {
  display: inline-block;
  font-size: 0.88rem;
  background: #EEE;
  border-radius: 18px;
  padding: 6px 12px;
  font-weight: bold;
  margin: 0 1rem 1rem 0;
}
@media screen and (max-width: 767px) {
  .village_txt_mid_cont .item_hash {
    margin: 0 6px 8px 0;
  }
}

@media screen and (max-width: 767px) {
  .village_txt_bttm {
    width: min(100vw - (100vw - 100%) - 2rem, 1400px);
    margin: 0 auto;
    box-sizing: border-box;
  }
}
.village_txt_bttm li {
  width: 98%;
  padding-left: 1rem;
  position: relative;
}
.village_txt_bttm li::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0px;
  width: 8px;
  height: 8px;
  background: #D9D9D9;
  border-radius: 50%;
}

.village_btn {
  display: block;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #0191B6;
  border: 1px solid #0191B6;
  color: #fff;
  font-weight: bold;
  border-radius: 24px;
  box-sizing: border-box;
  transition: 0.3s;
}
.village_btn:hover {
  opacity: 0.8;
}
.village_btn.btn_off {
  background-color: #fff;
  border: 1px solid rgba(51, 51, 51, 0.25);
  color: #333;
  box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.25);
}/*# sourceMappingURL=village.css.map */